<ion-header>
  <ion-toolbar>
  <ion-title>Procure um local</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
  <ion-item>
  <ion-label position="floating">Digite o CEP:</ion-label>
  <ion-input [(ngModel)]="cep" type="text"></ion-input>
  </ion-item><br>
  <ion-button shape="round" fill="outline" expand="block"
  color="" expand="full" (click)="buscarCep()">
  <ion-icon slot="start" name="star"></ion-icon>
  Buscar Endereço
  <ion-icon slot="end" name="star"></ion-icon>
  </ion-button>
  <div *ngIf="resultado">
  <h3>Resultado da Busca</h3>
  <ion-card color="tertiary">
  <ion-card-content>
  <p><strong>Logradouro:</strong> {{ resultado.logradouro }}</p>
  <p><strong>Bairro:</strong> {{ resultado.bairro }}</p>
  <p><strong>Cidade:</strong> {{ resultado.localidade }}</p>
  <p><strong>Estado:</strong> {{ resultado.estado }}</p>
  </ion-card-content>
  </ion-card>
  </div>
  <h2 class=" ">Buscar por estado, cidade e logradouro</h2>
  <ion-item>
  <ion-label position="floating">Sigla do Estado</ion-label>
  <ion-input [(ngModel)]="uf" type="text"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Cidade</ion-label>
  <ion-input [(ngModel)]="cidade" type="text"></ion-input>
</ion-item>
<ion-item>
<ion-label position="floating">Rua</ion-label>
<ion-input [(ngModel)]="logradouro" type="text"></ion-input>
</ion-item><br>
<ion-button shape="round" fill="outline" expand="block"
color="tertiary" expand="full" (click)="buscarEndereco()">
<ion-icon slot="start" name="star"></ion-icon>
Buscar Endereço
<ion-icon slot="end" name="star"></ion-icon>
</ion-button>
<div *ngIf="resultado2">
<h3>Resultado da Busca</h3>
<p *ngFor="let endereco of resultado2">
<ion-card color="tertiary">
<ion-card-content>
<p><strong>CEP:</strong> {{ endereco.cep }}</p>
<p><strong>Rua:</strong> {{ endereco.logradouro }}</p>
<p><strong>Bairro:</strong> {{ endereco.bairro }}</p>
<p><strong>Cidade:</strong> {{ endereco.localidade }}</p>
<p><strong>Estado:</strong> {{ endereco.uf }}</p>
<p><strong>DDD:</strong> {{ endereco.ddd }}</p>
</ion-card-content>
</ion-card>
</p>
</div>
</ion-content>
